@page
@model CPMS.Pages.Reviews.IndexModel

@{
    ViewData["Title"] = "Reviews";
}

<h1>Reviews</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].AppropriatenessOfTopic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].TimelinessOfTopic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].SupportiveEvidence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].TechnicalQuality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].ScopeOfCoverage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].CitationOfPreviousWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Originality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].ContentComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].OrganizationOfPaper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].ClarityOfMainMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Mechanics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].WrittenDocumentComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].SuitabilityForPresentation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].PotentialInterestInTopic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].PotentialForOralPresentationComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].OverallRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].OverallRatingComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].ComfortLevelTopic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].ComfortLevelAcceptability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Complete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Paper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Reviewer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Review) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppropriatenessOfTopic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimelinessOfTopic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportiveEvidence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicalQuality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScopeOfCoverage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CitationOfPreviousWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Originality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationOfPaper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClarityOfMainMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mechanics)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WrittenDocumentComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuitabilityForPresentation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PotentialInterestInTopic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PotentialForOralPresentationComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallRatingComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComfortLevelTopic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComfortLevelAcceptability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paper.PaperId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reviewer.ReviewerId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ReviewId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ReviewId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ReviewId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
