@page
@model CPMS.Pages.Pages.IndexModel

@{
    ViewData["Title"] = "Papers";
}

<h1>Papers</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].FilenameOriginal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].Filename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].Certification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].NotesToReviewers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].AnalysisOfAlgorithms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].Applications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].Architecture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].ArtificialIntelligence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].ComputerEngineering)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].Curriculum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].DataStructures)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].Databases)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].DistanceLearning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].DistributedSystems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].EthicalSocietalIssues)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].FirstYearComputing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].GenderIssues)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].GrantWriting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].GraphicsImageProcessing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].HumanComputerInteraction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].LaboratoryEnvironments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].Literacy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].MathematicsInComputing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].Multimedia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].NetworkingDataCommunications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].NonMajorCourses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].ObjectOrientedIssues)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].OperatingSystems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].ParallelsProcessing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].Pedagogy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].ProgrammingLanguages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].Research)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].Security)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].SoftwareEngineering)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].SystemsAnalysisAndDesign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].UsingTechnologyInTheClassroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].WebAndInternetProgramming)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].Other)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].OtherDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Paper) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilenameOriginal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Certification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotesToReviewers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnalysisOfAlgorithms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Applications)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Architecture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtificialIntelligence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComputerEngineering)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curriculum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataStructures)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Databases)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceLearning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistributedSystems)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EthicalSocietalIssues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstYearComputing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenderIssues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrantWriting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GraphicsImageProcessing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HumanComputerInteraction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaboratoryEnvironments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Literacy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MathematicsInComputing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Multimedia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetworkingDataCommunications)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NonMajorCourses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObjectOrientedIssues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperatingSystems)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParallelsProcessing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pedagogy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgrammingLanguages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Research)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Security)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoftwareEngineering)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemsAnalysisAndDesign)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsingTechnologyInTheClassroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebAndInternetProgramming)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Other)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.AuthorId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PaperId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PaperId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PaperId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
